<div class="row">
	<div class="col-md-3">
		<div class="well">
			<img src="/Grandma.jpg" class="img-responsive img-circle">
			
			<h2>Grandma</h2>
			<%= link_to fa_icon("ambulance") + " Call 911", "#", class: "btn btn-default btn-block" %>

			<%= link_to fa_icon("user-md") + " Call Doctor", "#", class: "btn btn-default btn-block" %>

	    </div>
	    <div class="well">
	      	<h3>Followers</h3>

			<table class="table">

			  <tbody>
			    <% @followers.each do |follower| %>
			      <tr>
			        <td><%= fa_icon "user", style: "font-size: 1.4em;" %> 
						<%= link_to follower.name, edit_follower_path( follower ) %> <span class="text-muted"><%= fa_icon( "phone") if follower.valid_number? %></span>
						<%= link_to fa_icon("close"), follower, method: :delete, style: "float:right", data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			<%= link_to fa_icon("plus"), new_follower_path, class: "btn btn-default" %>
	    </div><!--/.well -->
  </div><!--/span-->

  <div class="col-md-9">
	<h1>Events</h1>

	<table class="table">

	  <tbody>
	    <% @events.each do |event| %>
	      <tr>
	        <td><%= fa_icon event.icon, style: "font-size: 1.4em;" %> 
				<%= event.created_at.strftime("%H:%M") %>
				<%= event.name %> (<%= time_ago_in_words event.created_at %>)</td>
	        <td><%= link_to fa_icon("close"), event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<%= render "map", lat: 39.95, lng: -75.19 %>
  </div><!-- /span -->


</div><!--/row-->



<br>


