<div class="row">
	<div class="col-sm-3">
		<div class="well">
			<img src="/Grandma.jpg" class="img-responsive img-circle">
			
			<h2>Grandma Jo</h2>
			<%= link_to fa_icon("ambulance") + " Call 911", "#", class: "btn btn-default btn-block" %>

			<%= link_to fa_icon("user-md") + " Call Doctor", "#", class: "btn btn-default btn-block" %>
	    </div>
	    <div class="well">
			<%= link_to fa_icon("plus"), new_follower_path, class: "btn btn-default pull-right" %>
	      	<h3>Followers</h3>

			<table class="table table-condensed">
			  <tbody>
			    <% @followers.each do |follower| %>
			      <tr>
			        <td><%= fa_icon "user", style: "font-size: 1.4em;" %> 
						<%= link_to follower.name, edit_follower_path( follower ) %> <span class="text-muted"><%= fa_icon( "phone") if follower.valid_number? %></span>
						<%= link_to fa_icon("close"), follower, method: :delete, style: "float:right", data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			<p><span class="text-muted">Powered by </span>
			<%= image_tag "/sendgrid.png", style: "width: 50px" %>
			<%= image_tag "/twilio.png", style: "width: 50px" %>
			</p>
	    </div><!--/.well -->
  </div><!--/span-->

  <div class="col-sm-9">
	<div style="float:right">Device: <%= image_tag "/pebble.jpg", size: "30x36", classx:" img-circle" %> Pebble</div>
	<h1>Events</h1>

	<table class="table" id="events-table" last-event-id="<%= @events.collect{|e|e.id}.max %>">
	  <tbody>
	    <% @events.group_by(&:created_on).each do |date, events| %>
			<tr><td><%= date.strftime("%a %b %d, %Y") %></td></tr>
			<% events.sort_by {|e| e.created_at}.each do |event| %>
				<%= render "row", event: event %>
			<% end %>
	    <% end %>
	  </tbody>
	</table>
	<i class="text-muted" id="events-timestamp"></i>
	
	<h2>Fall Locations</h2>
	<script type="text/javascript" charset="utf-8">
		$(document).ready( function() {
			setTimeout( refreshEventsTable, 5000 )
		})
		
		var refreshEventsTable = function() {
			$.ajax({
			  url: "<%= refresh_events_url %>",
			  data: "last_event_id=" + $("#events-table").attr("last-event-id"),
			  complete: function() { setTimeout( refreshEventsTable, 5000 ) },
			  dataType: "script"
			});
		}
	</script>
	<%= render "map", markers: @events.select{|e|e.lat and e.lng}.collect{|e|{ name: e.name, lat: e.lat, lng: e.lng} } %>
	
	
	<h2>Fall Frequency, last 60 days</h2>
      <div id="chart_div" style="width: 600px; height: 100px;"></div>

   <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      var data;
      var chart;

      var options = {
		bar: {groupWidth: "100%"},
		legend: {position: "none"},
		vAxis: {textPosition: "none"},
        hAxis: {textPosition: "none", gridlines: { color: "#FFF", count: 0 }, minorGridlines: { count: 0}},
          animation: {duration: 1000,  easing:"out"}
        };

      function drawChart() {
        data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Number of Falls');
		<% ((Time.now.to_date - 60.days)..Time.now.to_date).each do |time|  %>
        	data.addRow([ "<%= time.strftime("%m/%d/%Y") %>", <%= (rand ** 3 * 3).floor %> ]);
		<% end %>
        chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

    </script>

	<h2>Missed Medications</h2>
	<%= render "medication_table" %>
  </div><!-- /span -->

</div><!--/row-->



<br>


