<h1>Events</h1>

<table class="table">

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= fa_icon event.icon, style: "font-size: 1.4em;" %> 
			<%= event.created_at.strftime("%H:%M") %>
			<%= event.name %> (<%= time_ago_in_words event.created_at %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to fa_icon("ambulance") + " Call 911", "#", class: "btn" %><br /><br />
<%= link_to fa_icon("user-md") + " Call Doctor", "#", class: "btn" %><br /><br /><br />

