<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @follower.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @follower.number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @follower.email %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @follower.icon %>
</p>

<%= link_to 'Edit', edit_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>
